.main-content{
  min-height:100vh;
  max-height:100vh;
  width:100vw;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

i{
  color:dodgerblue;
  font-size:1.5rem;
}

.caption{
  display:flex;
  flex-direction:row;
  align-items:center;
}
.content-row{
  display:flex;
  flex-direction: row;
}
.icon-box{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:row;
  padding:1rem;
}
